<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="author" content="German Matilla">

    <title>blueAntWeb</title>
    
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body style="background-image: url('images/web-bg.jpg')">
    <div class="container-fluid">
	<div class="row" style="margin-top:7%">
		<div class="col-md-4">
		</div>
		<div class="col-md-4 .align-items-center">
			<div style="margin-top:4%">
				<p>OOPS PARECE QUE ALGO HA SALIDO MAL</p>
				<form action='filter' method="post">
					<button type="submit" value="Stats" class="btn btn-primary" >
						Volver al filtro
					</button>
				</form>
				</form>
			</div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>