<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>blueAntWeb Home</title>
    
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body style="background-image: url('images/web-bg.jpg')">
    <div class="container-fluid">
	<div class="row" style="margin-top:7%">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<form action='results' method="post">
				<div class="form-group">
					<label for="rangoIni">
							RANGO DESDE (meses)
					</label>
					<input type="number" min="0" required class="form-control" id="rangoIni" name="rangoDesde">
				</div>
				
				<div class="form-group">
					<label for="rangoFin">
							RANGO HASTA (meses)
					</label>
					<input type="number" min="0" required class="form-control" id="rangoFin" name="rangoHasta">
				</div>
				<div class="form-group">
					<label>GENERO</label>
					<select class="form-control" id="genero" name="genero">
							<option selected="selected" value="2">Ambos</option>
							<option value="0">Masculino</option>
							<option value="1">Femenino</option>
					</select>
				</div>
				
				<div class="form-group">
					<label>INCLUIR SOLO CENTROS</label>
					<input type="checkbox" id="solo_centros" name="solo_centros" value="centros">
				</div>
				
				<div class="form-group">
					<label>AGRUPAR RESULTADOS POR</label>
					<select class="form-control" id="agrupacion_resultados" name="agrupacion_resultados">
							<option selected="selected" value="genero">GENERO</option>
							<option value="edad">EDAD</option>
							<option value="edad-genero">EDAD y GENERO</option>
					</select>
				</div>
				
				<div class="form-group">
					<label>TIPO GRAFICO</label>
					<select class="form-control" id="tipo_grafico" name="tipo_grafico">
							<option selected="selected" value="num_jugadores">NUMERO JUGADORES</option>
							<option value="num_partidas">NUMERO PARTIDAS</option>
							<option value="media_duracion">MEDIA DURACION PARTIDAS</option>
							<option value="des_media_duracion">DESVIACION MEDIA DURACION PARTIDAS</option>
							<option value="mediana_duracion">MEDIANA DURACION PARTIDAS</option>
					</select>
				</div>
				<button type="submit" value="Buscar" class="btn btn-primary" >
						GENERAR GRAFICO
				</button>
	  		</form>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>