<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

</head>
<body>
  <h1>Bienvenido, {{name}}</h1>
  
	<form action='results' method="post">
	
		<div class="form-group">
			<label for="rangoIni">
					Desde
			</label>
			<input type="number" class="form-control" id="rangoIni" name="rangoDesde">
		</div>
		
		<div class="form-group">
			<label for="rangoFin">
					Hasta
			</label>
			<input type="number" class="form-control" id="rangoFin" name="rangoHasta">
		</div>
		<div class="form-group">
			<label>Genero</label>
			<select class="form-control" id="genero" name="genero">
					<option selected="selected" value="2">Ambos</option>
					<option value="0">Masculino</option>
					<option value="1">Femenino</option>
			</select>
		</div>
		
		<div class="form-group">
			<label>Incluir solo Centros</label>
			<input type="checkbox" id="solo_centros" name="solo_centros" value="centros">
		</div>
		
		<div class="form-group">
			<label>Agrupar Resultados por</label>
			<select class="form-control" id="agrupacion_resultados" name="agrupacion_resultados">
					<option selected="selected" value="genero">GENERO</option>
					<option value="edad">EDAD</option>
					<option value="edad-genero">EDAD y GENERO</option>
			</select>
		</div>
		
		<div class="form-group">
			<label>Tipo Grafico</label>
			<select class="form-control" id="tipo_grafico" name="tipo_grafico">
					<option selected="selected" value="num_jugadores">NUMERO JUGADORES</option>
					<option value="num_partidas">NUMERO PARTIDAS</option>
					<option value="media_duracion">MEDIA DURACION PARTIDAS</option>
					<option value="des_media_duracion">DESVIACION MEDIA DURACION PARTIDAS</option>
					<option value="mediana_duracion">MEDIANA DURACION PARTIDAS</option>
			</select>
		</div>
	
		<input type='submit' value="Buscar">
  	</form>
  	<br>
  	
  <form action='stats' method="post">
	<input type='text' name="usrName">	
	<input type='submit' value="Saluda">
  </form>
  
  <form action='home' method="post">
	<input type='submit' value="Home">
  </form>
</body>
</html>